<h1>Listing reviews</h1>

<%= link_to 'New Review', new_review_path %>

<div id="reviews" class="transitions-enabled">
  <% @reviews.each do |review| %>
  <div class="box panel panel-default">
    <%= image_tag review.image.url(:medium) %>
    <div class="panel-body">
        <%= review.vfm %>
        <%= review.fullreview %>
        <%= link_to 'Show', review %>
        <%= link_to 'Edit', edit_review_path(review) %>
        <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
</div>




