<p id="notice"><%= notice %></p>

<%= image_tag @review.image.url(:medium) %>

<p>
  <strong>Vfm:</strong>
  <%= @review.vfm %>
</p>

<p>
  <strong>Fullreview:</strong>
  <%= @review.fullreview %>
</p>

<p>
  <strong> Restaurant:</strong>
  <%=Restaurant.find_by_id(@review.restaurant_id).name%></p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
