<!DOCTYPE html>
<html>
<head>
  <title>Thefoodreview</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<!-- Wrap all page content here -->
<div id="wrap">
<body>
  <%= render "layouts/navbar" %>
<div class="container">


	<% flash.each do |name,msg|%>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>
	<%= render "layouts/wideimg" %>

	<%= yield %>
</div>

</body>
</div>

<!--sticky footer-->
<div id="footer">
  <div class="container">
    <p class="text-muted credit">The food review </p>
  </div>
</div>
</html>
